<h1>Listing weights</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Question</th>
    <th>Survey</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weights.each do |weight| %>
  <tr>
    <td><%= weight.value %></td>
    <td><%= weight.question_id %></td>
    <td><%= weight.survey_id %></td>
    <td><%= link_to 'Show', weight %></td>
    <td><%= link_to 'Edit', edit_weight_path(weight) %></td>
    <td><%= link_to 'Destroy', weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weight', new_weight_path %>
