<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @weight.value %>
</p>

<p>
  <b>Question:</b>
  <%= @weight.question_id %>
</p>

<p>
  <b>Survey:</b>
  <%= @weight.survey_id %>
</p>


<%= link_to 'Edit', edit_weight_path(@weight) %> |
<%= link_to 'Back', weights_path %>
