<%= nested_form_for @survey do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :questions do |question_form| %>
    <%= render "question_fields", f: question_form %>
  <% end %>
  <%= f.link_to_add "Add Question", :questions %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
