<h1><%= @survey.name %></h1>

<ol class="questions">
<% @survey.questions.each do |question| %>
  <li>
    <%= question.content %>
    <ol class="choices">
      <% question.choices.each do |choice| %>
        <li><%= choice.content %></li>
      <% end %>
    </ol>
  </li>
<% end %>
</ol>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back to Surveys', surveys_path %>
